<div>
  <div class="bg-img" style="background-image: url('assets/application-pour-smartphone-stationnement-petite-femme-recherche-parking-pour-parc-automobile-parking-public_501813-832.jpg')"></div>
</div>

<form class="zone-form" (ngSubmit)="addZone()">
  <h1>New Zone</h1>
    <div class="form-group">
      <label for="nameZone">Zone Name</label>
      <input type="text" id="nameZone" name="nameZone" [(ngModel)]="zoneData.zoneTitle" placeholder="Zone Name">
    </div>
    <div class="form-group">
        <label for="hourPrice">Hour Price</label>
        <select id="hourPrice" name="hourPrice" [(ngModel)]="zoneData.hourPrice">
          <option value="1">1dt</option>
          <option value="2">2dt</option>
          <option value="3">3dt</option>
          <option value="4">4dt</option>
          <option value="5">5dt</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" id="ville" name="ville" [(ngModel)]="zoneData.ville" placeholder="Ville">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" [(ngModel)]="zoneData.description" placeholder="Description"></textarea>

    </div>
    <div class="form-group">
        <label for="nmeroParking">nmeroParking</label>
        <input type="text" id="nmeroParking" name="nmeroParking" [(ngModel)]="zoneData.numeroParking" placeholder="numeroParking">
      </div>
    <button type="submit" class="submit-button">Add Zone</button>
  </form>
  