.zone-form {
  border: none;
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #999CF0 0%, #CCCAF3 100%);
    /* Utilisation de linear-gradient pour appliquer le dégradé */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre à la carte */
    border-radius: 10px; /* Arrondit les coins de la carte */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #333; /* Add color to the label text */
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333; /* Add color to the input text */
  }
  
/* Style for the select dropdown */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Style for the dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  select::after {
    content: "\25BC"; /* Unicode character for down arrow ▼ */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .submit-button {
    background-color: #6c6fcb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect for the background color change */
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }
  .bg-img {
    /* Set the height and other styles for the background image */
    height: 900px; /* Adjust the height as needed */
    background-size: cover; /* Set the background image size to cover the entire container */
    background-position: left bottom; /* Position the background image to the left and bottom */
  }
  
  